*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}
body{
    width: 100%;
    margin: auto;
    font-family: 'coming soon';
    background-color: hsl(57, 99%, 74%);
}
header{
    background-image: url(../imagenes/design1_image1.jpg);
    background-position: center center;
    display: flex;
    margin: 3px;
    width: calc(100% - 8px);
    border: 1px solid black;
    height: 300px;
}
#logo{
    width: 200px;
    flex-grow: 1;

}
#Cabecera{
    flex-grow: 3;
    text-align: center;
}
#titulo{
    font-size: 50px;
    line-height: 300px;
    text-shadow: 5px 5px  #f2f549 ;
}
#secundario{
    align-content: center;
    height: 50px;
    margin: 3px;
    display: flex;
    background-color: #5b8982;
    border: 1px solid white;
}
main{
    width: 100%;
}

#upcoming{
    flex-grow: 3;
    text-align:justify;
    line-height: 50px;
}
#upcoming h2{
    color: #f7ef54;
    margin-left: 10px;
    text-shadow: 2px 2px 2px black;
}
.menu{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.menu a{
    background-color: #f7ef54;
    text-decoration: none;
    text-shadow: 2px 2px 2px black ;
    color:white;
    padding: 4px;
    text-align: center;
    border: 1px solid white ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.menu a:hover{
    transition: 0.3s;
    font: bold;
    background-color: rgb(245, 245, 220);
    border: solid 0.75px tomato;
    color: black;
    text-shadow: 2px 2px 2px #f7ef54;
    padding: 6px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
#img1, #img2, #img3{
    width: 200px;
    border: 2px solid orange;
    box-shadow: 5px 5px 5px gray;
}
#seccion{
   
    display: flex;
    width: calc(100% - 6px);
    margin: 3px;
    justify-content:space-between;
    gap: 70px;
    border: 1px solid orange;
    padding: 3px;
}
#art1, #art2, #art3{
    flex-grow: 1;
    margin: auto ;
}

#mision, #vision, #about{
    width: 25%;
    border: 2px solid black;
}
.h2{
    text-decoration: underline;
    text-shadow: 1px 1px 1px gray;
}
.imgabout{
    width: 150px;
    height: 120px;
    float: left;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 5px;
    border: 1px solid orange;
    box-shadow: 3px 3px 3px grey;
}

.h3{
    text-decoration: underline;
    text-shadow: 1px 1px 2px grey;
}
#contacto{
    display: flex;
    width: calc(100% - 6px);
    margin: 3px;
    justify-content: flex-start;
    gap: 50px;
}
.contacto{
    height: 100px;
    line-height: 50px;
}
.imgcontact{
    width: 300px;
    border: 1px solid orange;
    box-shadow: 3px 3px 3px grey;

}
section{
    border: 1px solid orange;
    margin: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Aquí comienzan los estilos 
para la página "RULES"*/

#encabezado-reglas{
    text-align: center;
}
#presentacion-reglas{
    margin:3px;
    width: calc(100% - 6px);
}
#presentacion-reglas h2{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#ihf,#all-play{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul, ol{
    margin: 0 20px;
}
#ul-padre{
    list-style:none ;
}
li{
    padding: 3px;
    margin-bottom: 20px;
}
.li-anidados{
    margin-bottom: auto;
}

/*Aquí comienzan los estilos para la página 
"GAME INFO"*/
#contenedor-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#imgt2, #imgt3{
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
    width: 350px;
    height:350px ;
}
h5{
    font-size: 1rem;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 20px;
    background: linear-gradient(45deg,rgb(242, 242, 102),orange);
    position: relative;
    animation: cambiar 10s ease infinite;
    box-shadow: 5px 5px 5px gray;
    -webkit-animation: cambiar 10s ease infinite;
}

#tabla{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    width: calc(100% - 6px);
    text-align: center;
}
thead{
    background-color: #5b8982;
    font-size: 1.3rem;
    text-shadow: 2px 2px 2px white;
}
th,td{
    border-collapse: collapse;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:  20px;
    padding-right: 20px;
}
#cont-dl{
    width: calc(100% - 6px);
    border-top: 3px solid orange;
}
#ul-info{
    list-style:none ;
    padding-top: 20px;
    padding-left: 0;
    margin-left: 0;
}
#questions{
    margin-top: 20px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    
    
}
#michael, #phone{
    padding: 3px;
}
#phone-mail{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
    padding-bottom: 10px;
}
#logo-pie{
    width: 100px;
}
/*estilos para el formulario
#address{
    
}*/
#main-form{
    width: calc(100% - 6px);
    margin: 3px;
    display: flex;
    justify-content: center;
}
#titulo-form{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}
#contenedor-form{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: calc(100% - 200px);
    background-color: hsl(57, 77%, 81%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 2px solid orange;
}
#nom-ape, #city-zip,#date-genero{
    display: flex;
    justify-content:space-between;
    margin: 3px;
    width: calc(100% - 16px) ;
    border: none;
    gap: 10px;
}
#p-grade{
    display: inline-block;
    height: 0.8rem;
}
#grade{
    display: flex;
    justify-content: flex-start;
    margin: 20px 3px 5px 3px;
    width: calc(100% - 6px);
    border: none;
    gap: 3%;
}

.nombreape, .city-zipcode, #fecha-nac{
    display: flex;
    justify-content: space-between;
    width: calc(50% - 6px);
    margin: 3px
}
#genero{
    display: flex;
    width: calc(50% - 6px);
    margin: 3px
}

#pgenero{
    width: 30%;
}
 #lfemale, #male{
    flex-grow: 1;
}

#nombre, #apellido, #city, #zip, #fecha{
    flex-grow: 3;
}

label{
    padding: 5px;
}
input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px;
    font-family: 'coming soon';
    font-weight: bold;
    font-size: 1rem;
    margin-left: 5px;
}
input[type = "radio"]{
    appearance: none;
    width: 1px;
    border: 1px solid black;
    background-color: white;
    transition: background-color 0.5s;
    cursor: pointer;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
input[type = "radio"]:checked{
    background-color: #5b8982;
    
}

#address-form{
    margin: 3px;
    width: calc(100% - 6px) ;
    border: none;
}
.address{
    display: flex;
    width: calc(100% - 6px);
    justify-content: start;
}

#address-input{
    flex-grow: 1;
}

#lmale, #lfemale, #female, #male{
    padding-left: 5px;
    padding-right: 5px;
}
#cercania, #position, #uniforme{
    display: flex;
    justify-content: flex-start;
    border: none;
    margin: 3px;
    width: calc(100% - 6px);
    gap:15%;
}
.escuelas, .posicion, .u-zise{
    display: flex;
    flex-direction: column;
}
#tescuelas, #tposicion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 6px);
}
#tescuelas h2{
    padding: 10px;
    margin-top: 5px ;
    margin-bottom: 3px;
}
#tescuelas h3{
    padding: 5px;
    margin: 3px;
}
#submit{
    display: flex;
    justify-content: right;
    border: none;
    margin: 3px ;
    width: calc(100% - 6px);
}
#permiso, #p-permiso{
    margin: 3px;
    width: calc(100% - 6px);
}
#permiso>p{
    margin: 3px;
}
#firma{
    display: flex;
    margin: 3px;
    border: none;
    justify-content: left;
    flex-direction: column;
}

#enviar{
    margin: 3px;
    background-color:transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid orange ;
    color: black;
    text-shadow: 2px 2px 2px gray;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
}
#enviar:hover{
    box-shadow: 0 0 18px 18px #5b8982 inset;
    text-shadow: 2px 2px 2px white;
}

footer{
    display: flex;
    justify-content: center;
    margin: 3px;
    width: calc(100% - 6px);
    gap: 50px;
    background-color: #5b8982;
    border: 2px solid white;
    font-weight: bold;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#email-dw a{
    color: black;
}