*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: black;
}
body{
    width: 90%;
    margin: auto;
    font-family: 'coming soon';
    background-color: #f7ef54;
}
header{
    background-image: url(../imagenes/design1_image1.jpg);
    background-position: center center;
    display: flex;
    margin: 3px;
    width: calc(100% - 8px);
    border: 1px solid black;
}
#logo{
    width: 200px;
    flex-grow: 1;

}
#Cabecera{
    flex-grow: 3;
    text-align: center;
}
#titulo{
    font-size: 50px;
    line-height: 200px;
    text-shadow: 5px 5px #f7ef54 ;
}
#secundario{
    align-content: center;
    height: 50px;
    margin: 3px;
    display: flex;
    background-color: black;
    border: 1px solid white;
}
#upcoming{
    flex-grow: 3;
    text-align: center;
    line-height: 50px;
}
#upcoming h2{
    color: #f7ef54;
    
}
.menu{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.menu a{
    background-color: #f7ef54;
    text-decoration: none;
    text-shadow: 2px 2px black ;
    color: white;
    padding: 2px;
    text-align: center;
    border: solid 1px white ;
    
}
.menu a:hover{
    /*padding: 4px;
    */font: bold;
    background-color: rgb(245, 245, 220);
    border: solid 0.75px black;
    color: black;
    text-shadow: 2px 2px #f7ef54;
    padding: 6px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#img1, #img2, #img3{
    width: 200px;
}
#seccion{
    display: flex;
    width: calc(100%-6px);
    margin: 3px;
    justify-content:stretch;
    gap: 200px;
}
#art1, #art2, #art3{
    flex-grow: 1;
    margin: auto ;
}

footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: darkgrey;
    border: 2px solid white;
    font-weight: bold;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
}
#email a{
    color: black;
}