*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: coming soon;
    text-align: center;
}
main{
    width: 80%;
    
}
header{
    margin-top: 50px;
    margin-left: 5px;
    background-image: url(../imagenes/design1_image1.jpg);
    background-position: center center;
    height: 300px;
}
h1{
    position: absolute;
    top:0;
    left:5px;
    font-weight: bold;
}
#upcoming{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-color: black;
    color:white;
    height: 50px;;
}
h2{
    height: 30px;
}
.menu{
    position: absolute;
    left: 1000px;
    top: 40px
}
.menu nav{
    height: 80px;
}
.menu a {
    
    height: 80px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color:rgb(40, 34, 152);
    border: solid 1px black ;
    font-weight: bold;
    box-shadow: 7px 7px grey;
    
}
.menu a:hover{
    background-color: darkgreen;
    padding: 15px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

#logo{
    position: absolute;
    left: 0px;
    width: 200px;
}
#seccion{
    text-align: justify;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#seccion h3{
    margin: 5px;
    font-size: 20px;
}
#seccion p {
    margin-left: 15px;
    font-size: 16px;

}
#mision h2{
    font-size: 18px;
}
#mision p{
    font-size: 16px;
}

footer{
    width: 80%;
    font-weight: bold;
    font-size: 18px;
    margin-top: 150px;

}