*{
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}
body{
    font-family: coming soon;
}

#contenedor{
    margin: auto;
    width: 90%;
}
header{
    height: 250px;
    background-image: url(../imagenes/design1_image1.jpg);
    /*text-align: center;*/
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    
}
#cabecera{
    height: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#titulo{
    display: inline-block;
    /*line-height: 200px;*/
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
}