*{
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}
body{
    font-family: coming soon;
}

#contenedor{
    margin: auto;
    width: 90%;
}
header{
    height: 300px;
    background-image: url(../imagenes/design1_image1.jpg);
    /*text-align: center;*/
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    
}
#cabecera{
    height: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
}
#titulo{
    display: inline-block;
    /*line-height: 200px;*/
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
}
#upcoming{
    margin-top: 5px;
    position: relative;
    background-color: black;
    text-align: center;
}
#upcoming h2{
    padding: 5px;
    margin: 10px;
    color: white;
    width: 50%;
    height: 50px;
    display: inline-block;
    font-size: 30px;
}
#logo{
    display: inline-block;
    width: 250px;
    position: absolute;
    left: 1300px;
    top: -100px
}
#clearfix{
    clear: both;
}
#principal{
    display: inline;
}
#contenido_central{
    

}

.menu{
    margin-right: 50px;
    margin-top: 25px;
    height: 310px;
    display: inline-block;
    float: left;
    
}

.menu a{
    display: block;
    margin-top: 43px;
    margin-left: 20px;
    padding: 20px;
    font-size: 25px;
}


#seccion{
   display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
  
}
.h3{
    font-size: 20px;
}

#seccion p{
    margin-left: 30px;
    font-size: 18px;
    margin-top: 20px;
}
footer{
    text-align: center;
    font-size: 20px;
    margin: 20px;

}